services:
  json-server:
    image: clue/json-server:latest
    ports:
      - "3000:80"
    volumes:
      - ./config/mock/db.json:/data/db.json
    restart: unless-stopped

  mosquitto:
    image: eclipse-mosquitto:2.0.22
    ports:
      - "1883:1883"
    volumes:
      - ./.data/mosquitto/config:/mosquitto/config
      - ./.data/mosquitto/data:/mosquitto/data
      - ./.data/mosquitto/log:/mosquitto/log
    restart: unless-stopped
