services:
  api-server:
    image: clue/json-server:latest
    container_name: api-server
    ports:
      - "3000:80"
    volumes:
      - ./.data/mock/api/db.json:/data/db.json
    restart: unless-stopped

  mosquitto:
    image: eclipse-mosquitto:2.0.22
    container_name: mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./.data/config/mosquitto:/mosquitto/config
      - ./.data/mosquitto/data:/mosquitto/data
      - ./.data/mosquitto/log:/mosquitto/log
    restart: unless-stopped

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_DB_PASSWORD}
    volumes:
      - ./.data/mssql:/var/opt/mssql
      - ./.data/mock/mssql/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
      - ./.data/mock/mssql/import-data.sql:/docker-entrypoint-initdb.d/import-data.sql
      - ./.data/mock/mssql/entrypoint.sh:/docker-entrypoint-initdb.d/entrypoint.sh
      - ./.data/mock/data:/data/csv
    command: /bin/bash /docker-entrypoint-initdb.d/entrypoint.sh
    restart: unless-stopped

  postgres:
    image: postgres:18.1-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=aicraftbatch
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./.data/postgres:/var/lib/postgresql
    restart: unless-stopped

  typesense:
    image: typesense/typesense:29.0
    restart: on-failure
    ports:
      - "8108:8108"
    volumes:
      - ./.data/typesense-data:/data
    command: '--data-dir /data --api-key=local-dev'

  aicraft-beat:
    image: ghcr.io/reddy-s/aicraft-beat:v0.0.5
    container_name: beat
    environment:
     - MSSQL_DB_PASSWORD=${MSSQL_DB_PASSWORD}
    volumes:
     - ./.data/beat:/app/data
    restart: unless-stopped
    depends_on:
      - mssql
      - mosquitto
      - api-server
  
  aicraft-event-processor:
    image: ghcr.io/reddy-s/aicraft-event-processor:v0.0.3
    container_name: event-processor
    restart: unless-stopped
    depends_on:
      - mosquitto

  aicraft-store-drainer:
    image: ghcr.io/reddy-s/aicraft-store-drainer:v0.0.4
    container_name: store-drainer
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    restart: unless-stopped
    depends_on:
      - postgres
      - mosquitto
